<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>High School</h1>
            <span>Plymouth Christian Academy</span>
            GPA: 3.7. Second Quartile of class
            <span><address>Canton, MI</address><time>Graduated on June 9, 2016</time></span>
            <h1>Bachelor's Degree</h1>
            <span>The Master's University</span>
            Major: Biblical Studies
            <span><address>Santa Clarita, CA</address><time>Graduating in May 2020</time></span>
        </header>
  </article>
  </section>
