<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Web Developer/Personal Assistant</h1>
            <span><address>Independent Contractor</address><time>2015 to Present</time></span>
        </header>
        <p> I have experience building several websites from static company websites to more complex WordPress sites. After I built the website, I usually stayed with my clients for a few months for IT support and did some secretarial/personal assistant work. I also did some business research
        </p>
    </article>
    <article>
        <header>
            <h1>IT Support Staff</h1>
            <span><address>Plymouth Christian Academy, Canton, MI</address><time>2014 to 2016</time></span>
        </header>
        <p>I was hired primariyl to support the transition that my high schoo made to use tablets in the classroom. I worked on various aspects of the project including upgrading the wireless network throughout campus, setting up devices, and helping students and teachers in daily use. I also do various random IT related taks. </p>
    </article>
</section>
