<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>High School</h1>
            <span>Plymouth Christian Academy, Canton, MI</span>
        </header>     
            <p>GPA: 3.7. Second Quartile of class</p>
            <p>Graduated on June 9, 2016</p>        
  </article>
    <header>
        <h1>Bachelor's Degree</h1>
        <span>The Master's University, Santa Clarita, CA</span>
    </header>
        <p>Major: Biblical Studies</p>
        <p>Graduating in May 2020</p>
  </section>
