<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>IT Support Staff</h1>
            <span><address>Plymouth Christian Academy, Canton, MI</address><time>2014 to Present</time></span>
        </header>
        <p>I was hired primariyl to support the transition that my high schoo made to use tablets in the classroom. I worked on various aspects of the project including upgrading the wireless network throughout campus, setting up devices, and helping students and teachers in daily use. I also do various random IT related taks. </p>
    </article>
</section>
