<section class="thirteen columns">
    <h1>Extra Cirriculars</h1>
    <article>
        <header>
            <h1>Cross Country & Track</h1>
            <span><address>Pymouth Christian Academy</address><time>2012-2016</time></span>
        </header>
        <p>
            Served as Captian for three years. Achieved many awards including Academic All-State and All Conference first and scond team.
        </p>
    </article>
    <article>
        <header>
            <h1>National Honor Society</h1>
            <span><address>Plymouth Christian Academy</address><time>2015-2016</time></span>
        </header>
        <p>
            Worked in NHS sponsored activities and led the NHS Technology team, including training and supporting the implementaion of technology in the classroom.
        </p>
    </article>
    <article>
        <header>
            <h1>FIRST Robotics</h1>
            <span><address>FRC Team 4405 - The Atoms Family</address><time>2013-2015</time></span>
        </header>
        <p>
            Worked on software team, including serving as the Software Captian for the 2015 season.
        </p>
        <p>
            Built website (<a href="www.team4405.com">www.team4405.com</a>) and built custom scouting software for phones and computers.
        </p>    
    </article>
    <article>
        <header>
            <h1>Class Chaplain</h1>
            <span><address>Pymouth Christian Academy</address><time>2012-2016</time></span>
        </header>
        <p>
            Served as the chaplain of the class of 2016 all four years. This involved giving reguar devotions and leading prayers, organizing class service, and personally ministering to my classmates.
        </p>
    </article>
</section>